.nav-link {
  color: white !important;
}


a {
  text-decoration: none !important;
}

.custom-hover {
  position: relative;
  color: white;
  overflow: hidden;
  /* border: solid 1px; */
  outline: none !important;
  z-index: 99;
  background: white;
}

.custom-hover:hover {
  color:  black;
}

.custom-hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
  border-radius: 10%;
  transform-origin: left;
  transition: transform 500ms ease-in-out;
  transform: scaleX(1);
}

.custom-hover:hover::before,
.custom-hover:focus::before
 {
   transform-origin: right;
   transition: transform 0.5s ease-in-out;
   transform: scaleX(0);
}




.reverse-custom-hover {
  position: relative;
  color: black;
  overflow: hidden;
  border: solid 1px;
  outline: none !important;
  z-index: 99;
  background: black;
}

.reverse-custom-hover:hover {
  color: white;
}

.reverse-custom-hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  border-radius: 10%;
  transform-origin: left;
  transition: transform 500ms ease-in-out;
  transform: scaleX(1);
}

.reverse-custom-hover:hover::before,
.reverse-custom-hover:focus::before
 {
   transform-origin: right;
   transition: transform 0.5s ease-in-out;
   transform: scaleX(0);
}








.custom-animation {
  width: 100px;
  height: 150px;
  animation: animate 5s ease-in-out;
  
}

@keyframes animate {
  0% {
    height: 150px;
    width: 100px;
    top: 50%;
  }

  20% {
    height: 300px;
    width: 300px;
    top: 50%;
  }

  30% {
    height: 300px;
    width: 300px;
    top: 50%;

  }

  50% {
    width: 2000px;
    height: 2000px;
    top: 50%;
  }

  60% {
    width: 2000px;
    height: 2000px;
    top: 50%;
  }
  

  85% {
    width: 2000px;
    height: 2000px;
    top: -200vh;
  }
  100% {
    width: 2000px;
    height: 2000px;
    top: -200vh;
    display: none;
  }
}



@tailwind base;
@tailwind components;
@tailwind utilities;
